<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TianlangStar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D705CEA31DC09BBF00F65BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D705CEBC1DC09BBF00F65BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D705CEC71DC09BBF00F65BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
